<nav class="navbar navbar-expand-lg navbar-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Відділи</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user-position}">Посади -></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/department}">Відділи -></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/stafflist}">Штатний розпис -></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">Користувачі -></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/nszu-decryption}">Розшифровка -></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/result}">Результат</a>
                </li>
            </ul>
            <form th:action="@{/logout}" method="post" class="d-flex">
                <button class="btn btn-outline-light" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>