<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/stafflist/files">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>StaffList Records</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>StaffListID</th>
                            <th>DepartmentIsProId</th>
                            <th>UserPosition</th>
                            <th>Employee</th>
                            <th>IPN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="staffListRecord : ${staffList}">
                            <td th:text="${staffListRecord.staffListId}"></td>
                            <td th:text="${staffListRecord.department.departmentIsProId}"></td>
                            <td th:text="${staffListRecord.userPosition.codeIsPro}"></td>
                            <td th:text="${staffListRecord.employment}"></td>
                            <td th:text="${staffListRecord.user.ipn}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>